.venv
# pycharm gitignore
.idea/
# vscode gitignore
.vscode/
# python cache
__pycache__/
# python egg-info
*.egg-info/
# python dist
dist/
# python build
build/

.env*

# Playwright
playwright-report/
scrapping/.auth